@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #6366F1, #A855F7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient-hover:hover {
  background: linear-gradient(90deg, #818CF8, #D8B4FE);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
